* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #dc7633;
    color: #F5F5F5;
    text-align: center;
    padding: 10px;
}

header #logo {
    width: 150px;
    height: auto;
}
nav ul {
    background-color: #DC7633;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #F5F5F5;
}

.container {
    max-width: 550px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo del formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 50px; /* Margen superior para el container */
}

h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 10px; /* Espaciado inferior */
}

form div {
    margin-bottom: 10px; /* Espaciado entre los elementos del formulario */
}

label {
    display: block; /* Hacer que las etiquetas ocupen todo el ancho */
    margin-bottom: 5px; /* Espaciado inferior */
}

.select-tipo-doc {
    font-size: 13px; /* Ajusta el tamaño de la fuente */
    padding: 10px; /* Aumenta el relleno interno para mayor tamaño */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Esquinas redondeadas */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 100%; /* Puedes ajustar el ancho máximo si es necesario */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
button {
    font-size: 13px; /* Ajusta el tamaño de la fuente */
    width: 100%; /* Ancho completo para los campos */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Bordes */
    border-radius: 4px; /* Bordes redondeados */
}

button {
    background-color: #DC7633; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar el cursor al pasar */
    margin-top: 10px; /* Margen superior para el botón */
}

button:hover {
    background-color: #E29663; /* Color al pasar el ratón */
}

footer {
    background-color: #DC7633;
    color: #F5F5F5;
    text-align: center;
    padding: 50px 0;
    position: relative;
    top: 50px;
}